:root {
  /* Цветовая гамма */
  --main-txt-color: #000000;
  --green-color: #248900;
  --light-green-color: #c8e1bf;
  --dark-green-color: #0f3700;
  --bg-color: #fff;
  --cart-color: #1c6900;

  /* Шрифты */
  --main-font: Montserrat, sans-serif;
  --secondary-font: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

/* Список без маркеров */
.list-no-marker {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: var(--main-txt-color);
  background-color: var(--bg-color);

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: var(--main-txt-color);
}

/* Ссылки без подчеркивания */
.link-no-dekor {
  text-decoration: none;
}

/* --- --- Шапка ------------- */
/* Верхняя линия ------ */

.link-logo {
  display: block;
}

.icon-logo {
  width: 181xp;
  height: 55px;
}

header .list {
  margin-left: auto;
  margin-right: 100px;
}

header .link {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.19;

  color: var(--main-txt-color);
}

header .link:hover,
header .link:focus {
  color: var(--green-color);
}

header .icon-cart {
  width: 26px;
  height: 26px;
  margin-right: 24px;

  fill: var(--cart-color);
}

header .button {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;

  color: var(--bg-color);
  background-color: var(--light-green-color);
  border: none;
  cursor: pointer;

  padding: 14px 35px;
  /* margin-left: 150px; */
}

header .button:hover,
header .button:focus {
  background-color: var(--green-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 60px;
}

header .wrapper {
  display: flex;
  align-items: center;
}

/* Герой */
.hero {
  height: 708px;
  text-align: center;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

/* Секция салаты */

.salads,
.soups,
.sushi,
.stock,
footer {
  padding: 50px 0;
}

.salads {
  background-image: url(../images/img-salads.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 50px;
  line-height: 1.22;
  letter-spacing: 0.05em;

  color: var(--green-color);
  text-align: center;

  margin-bottom: 50px;
}

.item-card {
  width: 370px;
  padding: 24px 30px;

  background-color: var(--bg-color);
}

.item-card:not(:last-child) {
  margin-right: 30px;
}

.img-card {
  margin-bottom: 18px;
}

.subtitle {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.23;
  color: var(--main-txt-color);

  margin-bottom: 22px;
  text-align: center;
}

.portion {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: var(--light-green-color);
  margin-bottom: 21px;
}

.description {
  margin-bottom: 22px;
}

.wrapper-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-price .icon-cart {
  width: 48px;
  height: 48px;
  padding: 10px;

  background-color: var(--light-green-color);
  fill: var(--bg-color);
}

.wrapper-price .icon-cart:hover {
  fill: var(--bg-color);
  background-color: var(--cart-color);

  cursor: pointer;
}

.price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.42;

  text-transform: lowercase;

  color: #000000;
}

.list-card {
  display: flex;
  justify-content: center;

  margin-bottom: 60px;
}

.full-list {
  display: block;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-decoration-line: underline;
  color: var(--dark-green-color);
  text-align: center;
}

/* Супы */

.soups {
  background-image: url(../images/img-soups.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.soups .item {
  width: 370px;
}

/* Суши */

.sushi {
  background-image: url(../images/img-sushi.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

/* Акции */

.stock {
  background-image: url(../images/img-stock.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.stock .wrapper-left {
  display: flex;
  justify-content: center;

  margin-bottom: 90px;
}

.stock .wrapper-right {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;

  margin-bottom: 60px;
}

/* .stock .wrapper-stock:not(:last-child) {
  margin-bottom: 90px;
} */

.wrapper-left .wrapper-description {
  width: 500px;
  margin-right: 100px;
}

.wrapper-right .wrapper-description {
  width: 500px;
  margin-left: 100px;
}

/* -----Решить вопрос с паднгом карточки правая сторона
        и нижний в последней секции-------------------- */
/* .stock .wrapper-description:nth-child(2n) {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: 100px;
} */

.stock .subtitle {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  color: var(--main-txt-color);
  text-align: left;

  margin-bottom: 35px;
}

.stock .description {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 27px;
  line-height: 1.22;
  letter-spacing: 0.05em;

  margin-bottom: 45px;
}

.stock .list {
}

/* О нас */

.about {
  background-image: url(../images/img-about.jpg);
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 50px;
  padding-bottom: 150px;
}

.about .description {
  width: 730px;

  font-weight: 400;
  font-size: 33px;
  line-height: 1.21;
  letter-spacing: 0.05em;
  color: var(--main-txt-color);
}

/* .about .description:not(:last-child) {
  margin-bottom: 50px;
} */

.about .description:nth-child(2n) {
  margin-bottom: 50px;
}

.about .description:nth-child(2n + 1) {
  margin-bottom: 0;
}

/* Контакты */

.contacts {
  background-image: url(../images/img-contacts.jpg);
  background-position: bottom;
  background-repeat: no-repeat;

  padding-top: 50px;
  padding-bottom: 219px;
}

.contacts .wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts .subtitle {
  font-weight: 500;
  font-size: 31px;
  line-height: 1.23;
  letter-spacing: 0.05em;

  margin-bottom: 20px;
  text-align: left;
}

.contacts .item {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 27px;
  line-height: 1.19;
  letter-spacing: 0.05em;
}

.contacts .item-phone:not(:last-child) {
  margin-bottom: 4px;
}

.contacts .link {
  color: var(--main-txt-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--green-color);
}

.contacts .list:not(:last-child) {
  margin-bottom: 50px;
}

.contacts .item-social:not(:last-child) {
  margin-bottom: 5px;
}

.contacts .button {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.05em;

  color: var(--bg-color);
  background-color: var(--green-color);
  border: none;
  cursor: pointer;

  padding: 14px 43px;
}

.contacts .button:hover,
.contacts .button:focus {
  background-color: var(--cart-color);
}

/* Футер */

footer .container {
  display: flex;
  align-items: center;
}

footer .logo {
  margin-right: 278px;
}
